@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Permanent+Marker&display=swap");

.register-form {
  height: 45em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3em;
  background-image: url("../../../assets/login.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#register {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.button,
.password,
.email {
  padding: 2em 1.5em;
  width: 30em;
}

#register label {
  font-size: 1.5em;
  margin-top: 1em;
  position: relative;
  font-weight: 800;
}

#register input {
  border-radius: 50px;
  border-bottom-right-radius: 1em;
  line-height: 1.5em;
  width: 15em;

  font-family: "Permanent Marker", cursive;
  color: #ff5733;
  text-align: center;
  font-weight: 800;
  font-size: 1.2em;
}

.button,
.email,
.password {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  margin-top: 1em;
  padding: 1em 1em;
  border-radius: 50px;
  line-height: 1.5em;
  width: 15em;
  cursor: pointer;
  font-weight: 700;
  font-size: 1em;
  letter-spacing: 2px;
}

.btn:hover {
  background-color: black;
  border: 2px solid #ccc;
}

#loginMsg {
  margin-top: 0.5em;
  font-size: 0.8em;
}

@media (max-width: 500px) {
  #register {
    width: 150px;
  }

  .email,
  .password,
  .button {
    width: 200px;
  }
}

@media (max-width: 350px) {
  #register input {
    width: 150px;
  }
}
